<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbkQavZ5icPfaNjL7h0mBHWlEDes6OhNc</string>
	<key>GCM_SENDER_ID</key>
	<string>25669929893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.EasySpare-ExpensesApp-</string>
	<key>PROJECT_ID</key>
	<string>easyspare-84e41</string>
	<key>STORAGE_BUCKET</key>
	<string>easyspare-84e41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25669929893:ios:d76a6376e124dddccd364c</string>
</dict>
</plist>